.nav {
    font-size: 15px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;

    &:hover,
    &.active-link {
        cursor: pointer;
        background-color: #ccc;
    }
}
