<hr />
<p>
    <input type="text" [value]="bindingVal" />
    <input type="text" placeholder="bindingVal" />
    <input type="text" [placeholder]="bindingVal" />
</p>

<p>Click: <button (click)="handeClick()">Click to me</button></p>

<!-- Deprecated use-->
<p>Change value (senario 1): <input type="text" (keyup)="handleChange1($event)" /></p>

<p>Change value (senario 2): <input type="text" #change2 (keyup)="handleChange2(change2.value)" /></p>

<!-- Binding 2 chieu -->
<p>
    Binding 2 chieu: <input type="text" name="bingdingTwoWay" [(ngModel)]="txtChange" /> <br />

    <span>Value change: {{ txtChange }}</span>
</p>

<p>==========================================================================</p>
<div *ngIf="bindingVal">
    <!-- Chỗ này là gọi directive ngIf để kiểm tra điều kiện if ngay ở html -->
    Binding value: {{ bindingVal }}
</div>

<p>==========================================================================</p>
<div *ngIf="timeValue">
    {{ timeValue }}
</div>

<p>==========================================================================</p>
<div *ngIf="title; else noTitle">Time: {{ timeValue }}</div>
<ng-template #noTitle> Click on the button to see time. </ng-template>

<p>Ng-if… else ==========================================================================</p>
<div *ngIf="isTrue; then hasTimeValue; else noTimeValue">Time: {{ timeValue }}</div>
<ng-template #hasTimeValue>hasTimeValue</ng-template>
<ng-template #noTimeValue>noTimeValue</ng-template>

<p>ngSwitch ================================================</p>
<div [ngSwitch]="isMetric">
    <div *ngSwitchCase="true">ngSwith true</div>
    <div *ngSwitchCase="false">ngSwith false</div>
    <div *ngSwitchDefault>ngSwitchDefault</div>
</div>
